body {
    font-family: Arial;
    width: 50%;
    margin: auto;
    padding-top: 40px;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
}
